<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pp.app">

    <application
        android:allowBackup="false"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Autojs"
        tools:targetApi="31">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <service android:name=".external.ScriptExecutionIntentService"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Autojs.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name="com.pp.autojs.external.receiver.StaticBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.UID_REMOVED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.DREAMING_STARTED"/>
                <action android:name="android.intent.action.DREAMING_STOPPED"/>
                <action android:name="android.intent.action.HEADSET_PLUG"/>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.intent.action.MEDIA_CHECKING"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH"/>
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>
                <action android:name="android.intent.action.WALLPAPER_CHANGED"/>
                <action android:name="android.intent.action.USER_UNLOCKED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_RESTARTED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".external.tasker.FireSettingReceiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver">

            <!-- this Intent filter allows the plug-in to discovered by the host. -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.pp.notification.NotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <receiver android:name=".timing.TaskReceiver">
            <intent-filter>
                <action android:name="com.pp.autojs.action.task"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>